{
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "plugins": [
    "react-hot-loader/babel", ["module-resolver", {
      "alias": {
        "^react-native$": "react-native-web"
      }
    }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
  "presets": [
    "es2015",
    "stage-0",
    "stage-2",
    "react",
    "react-native"
  ]
}
